<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Country</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companyResponse?.value; index as i">
      
      <td>
        {{  company.Company1 }}
      </td>
      <td>{{  company.Name }}</td>
      <td>{{  company.City }}</td>
      <td>{{  company.State }}</td>
      <td>{{  company.Country }}</td>
    </tr>
    </tbody>
  </table>