<nav class="navbar navbar-expand navbar navbar-dark bg-dark">
    <a style="margin-left: 10px" class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
      </ul>
    </div>
    <div style="margin-right:10px;"  class="navbar-nav" *ngIf="IsUserLoggedIn()">
        <a class="nav-link" (click)="LogoutUser()"  >Logout {{GetUserId()}}</a>
    </div>
    <div style="margin-right:10px;" class="navbar-nav" *ngIf="!IsUserLoggedIn()">
        <a class="nav-link" [routerLink]="['/Login']">Login</a>
    </div>
  </nav>